<html>
  <head>
    <title>{{course.attributes.title}}</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/tomorrow-night.css">
    <link rel="stylesheet" href="/app.css" />    
    <!-- Begin Opengraph -->
    <meta property="og:url" content="https://mike-seo.herokuapp.com/course/{{course.attributes.slug}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{course.attributes.title}}" />
    <meta property="og:description" content="{{course.attributes.summary}}" />

    <meta property="og:image" content="{{course.attributes.image-info.fbshare.url}}" />
    <meta property="og:image:width" content="{{course.attributes.image-info.fbshare.width}}" />
    <meta property="og:image:height" content="{{course.attributes.image-info.fbshare.height}}" />
    <!-- End Opengraph -->
    
  </head>
  <body>
    <!-- BEGIN EXERCISE -->
    <p>
      <a href="/">&lt; Back</a>
    </p>
    <div class="course-header">
      <h1>Course: {{course.attributes.title}}</h1>
      <img class='course-image' src="{{course.attributes.image-info.square.url}}" alt="{{course.attributes.title}}">
    </div>
    <p>
      {{course.attributes.description}}
    </p>
    <!-- END EXERCISE -->
    <script src="/js/tester.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/tests.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>