<html>
  <head>
    <title>{{course.attributes.title}}</title>
    <meta name="description" content="{{course.attributes.summary}}"/>
    <meta name="keywords" content="{{course.attributes.tags}}"/>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/tomorrow-night.css">
    <link rel="stylesheet" href="/app.css" />    

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{course.attributes.title}} | Mike.Works" />
    <meta property="og:description" content="{{course.attributes.description}}" />
    <meta property="og:image:url" content="{{course.attributes.image-info.fbshare.url}}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:width" content="637" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@FrontEndMasters" />
    <meta name="twitter:image" content="{{course.attributes.image-info.thumb2x.url}}" />
    <meta name="twitter:creator" content="@MichaelLNorth" />
  </head>
  <body>
    <!-- BEGIN EXERCISE -->
    <p>
      <a href="/">&lt; Back</a>
    </p>
    <div class="course-header">
      <h1>Course: {{course.attributes.title}}</h1>
      <img class='course-image' src="{{course.attributes.image-info.fbshare.url}}" alt="{{course.attributes.title}}">
    </div>
    <p>
      {{course.attributes.description}}
    </p>
    <!-- END EXERCISE -->
    <script src="/js/tester.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/tests.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>